﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <!--===============================================================================================-->
</head>
<body>


    <div class="limiter">

        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/Content/images/img-01.png" alt="IMG">
                </div>

                <form class="login100-form validate-form" method="post">
                    <span class="login100-form-title">
                        Editing  Account For @TempData["Username"]
                    </span>
                    <div class="wrap-input100 validate-input">
                        <label for="property">Select Property To Change:</label>
                        <select name="property" class="input100" id="property">
                            <option value="FirstName">FirstName</option>
                            <option value="LastName">LastName</option>
                            <option value="Email">Email</option>
                            <option value="Password">Password</option>
                        </select>
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input class="input100" id="propertyValue" type="text" name="propertyValue" placeholder="Enter New Value">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-bullseye" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input " style="display:none" id="password-hidden">
                        <input class="input100"  type="text" name="propertyValueOptional" placeholder="Confirm Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-bullseye" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" style="display:none">
                        <input class="input100" id="Username" value="@TempData["Username"]" type="text" name="Username" placeholder="Enter New Value">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-bullseye" aria-hidden="true"></i>
                        </span>
                    </div>


                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Edit Account
                        </button>
                    </div>
                    <br />
                    <a class="txt2" href="#">
                        @Html.ActionLink("Home", "Login", "User")
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>

                </form>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    
    <script src="~/Content/js/mainEdit.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/js/main.js"></script>
    
    
</body>
</html>
